<div class="measure center black-80">
	<h2 class="f4 fw6 ph0 mh0">Edit Member</h2>
	<%= render "form.html", Map.put(assigns, :action, Routes.member_path(@conn, :update, @member)) %>
	<span><%= link "Back", to: Routes.member_path(@conn, :index) %></span>
</div>
