<div class="pl0 measure center tc pt4">
	<h2 class="f4 fw6 ph0 mh0">Check your email!</h2>
	<p>If there's an account associated with that email, you should find a link in your inbox to change your password.</p>
</div>
