<div class="pl0 measure center tc pt4">
	<h2 class="f4 fw6 ph0 mh0">Sorry about this.</h2>
	<p>It seems like you either took too long to click the reset link, or maybe you got the link totally wrong.</p>
	<p>In fact, this is actually all of your fault. I'm not sure why I even apologized. You can try requesting another <a href="/reset-password">password reset</a>, if you'd like.</p>
	<p>Please follow the instructions this time.</p>
</div>
