/* This file is for your main application css. */

@import "./phoenix.css";
nav ul li {
    display: inline-block;
}
.divider { 
    border: 0.25rem solid #999;
}

textarea {
    height: auto;
}

@import "../node_modules/tachyons/css/tachyons.css";
@import "./contact.css";