/* This file is for your main application css. */

/* @import "./phoenix.css"; */
nav ul li {
    display: inline-block;
}
.divider {
    border: 0.25rem solid #999;
}

textarea {
    height: auto;
}

@font-face {
  font-family: 'Rubik';
	src: url('/fonts/Rubik-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('/fonts/Rubik-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
	font-family: 'Inconsolata', monospace;
}

@media screen and (min-width: 30em) {
	.main-nav {
		height: 20vh;
	}
	.container {
		min-height: 60vh;
	}
	.main-footer {
		height: 10vh;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', sans-serif;
}


.main-font {
	font-family: 'Rubik';
}

.prose-font {
	font-family: 'Inconsolata';
}

a {
	text-decoration: none;
}

.circle_cropped {
	height: 100px;
	width: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background-size:cover;
}

@import "../node_modules/tachyons/css/tachyons.css";

.alert {
	text-align: center;
}

table i.fa-icon {
	width: 15px;
	display: inline-block;
	padding-left: 10px;
}
