<div class="measure center black-80">
	<h2 class="f4 fw6 ph0 mh0">Edit Post</h2>
	<%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :update, @post)) %>
	<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
</div>
