<div class="post">
    <div class="title">
        <strong><%= @post.title %></strong> by <strong><%= @post.author %></strong>
    </div>

    <%= if @post.path do %>
    <div class="attachment">
		<img src="/uploads/<%= @post.path %>" />
	</div>
	<% end %>
    <div class="content" style="white-space: pre-wrap;">
        <%= @post.content %>
    </div>
</ul>

<div id="commento"></div>
<script src="https://commento.chattanoogapoetscollective.com/js/commento.js"></script>