<%= for post <- @posts do %>
  <div class="post">
    <div class="title">
      <h3><%= post.title %></h3>
      <h6>by <%= post.author %> (<%= post.updated_at %>)</h3>
    </div>
    <div class="content">
      <p><%= post.content %></p>
    </div>
		<%= if post.path do %>
			<img src="/uploads/<%= post.path %>" />
		<% end %>

  </div>
<% end %>
